/*
Theme Name: GreenMart Child
Theme URI: https://demo.thembay.com/greenmart/
Author: Thembay
Description: This is a child theme for GreenMart
Version: 1.0
Author URI: https://thembay.com/
Template: greenmart
Text Domain: greenmart-child
*/

/*  [ Add your custom css below ]
- - - - - - - - - - - - - - - - - - - - */

.quantity input[type='number'] {
    -moz-appearance:unset !important;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
}
.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty{
	min-width: 40px;
	text-align: left;
}
.woocommerce .quantity, .woocommerce-page .quantity {
	padding-right: 0;
}
@media (max-width: 768px)
{
.br_alabel_image.br_alabel_left {
    left: -100px !important;
    top: 60px !important;
}
}