@font-face {
	font-family: "tb-icon";
	src: url('./../fonts/tb-icon/tb-icon.eot');
	src: url('./../fonts/tb-icon/tb-icon.eot?#iefix') format('eot'),
		url('./../fonts/tb-icon/tb-icon.woff2') format('woff2'),
		url('./../fonts/tb-icon/tb-icon.woff') format('woff'),
		url('./../fonts/tb-icon/tb-icon.ttf') format('truetype'),
		url('./../fonts/tb-icon/tb-icon.svg#tb-icon') format('svg');
}

.tb-icon:before {
	font-family: "tb-icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.tb-icon-apple:before {
	content: "\E001";
}

.tb-icon-clock:before {
	content: "\E002";
}

.tb-icon-heart:before {
	content: "\E003";
}

.tb-icon-number-1:before {
	content: "\E004";
}

.tb-icon-number-2:before {
	content: "\E005";
}

.tb-icon-number-3:before {
	content: "\E006";
}

.tb-icon-number-4:before {
	content: "\E007";
}

.tb-icon-number-5:before {
	content: "\E008";
}

.tb-icon-number-6:before {
	content: "\E009";
}

.tb-icon-number-7:before {
	content: "\E00A";
}

.tb-icon-number-8:before {
	content: "\E00B";
}

.tb-icon-number-9:before {
	content: "\E00C";
}

.tb-icon-project:before {
	content: "\E00D";
}